<li id="duty-<%= duty.id %>">
  <span class="content"><%= duty.description %></span>
  <td><%= link_to 'Destroy', duty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <span class="timestamp">
  </span>


</li>